html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: Consolas, "Courier New", Courier, monospace;
  line-height: 1.5;
  background-color: #000;
  overflow: hidden;
  position: relative;
  top: 0;
}

iframe {
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0,0,150,.8);
  padding: 4px;
  border-radius: 2px;
}

a,
input,
button,
textarea {
  -webkit-transition: color border-color background-color, 0.15s;
  -moz-transition: color border-color background-color, 0.15s;
  -o-transition: color border-color background-color, 0.15s;
  transition: color, border-color, background-color, 0.15s;
}

.fade {
  transition: opacity 2s;
}

.fade.fade-in {
  opacity: 1;
}

.fade.fade-out {
  opacity: 0;
}

.dialog-c {
  min-height: 1em;
  z-index: 1;
  background: rgba(0,0,50,.6);
  padding: 20px;
  opacity: 0;
  color: #FFF;
  border-radius: 2px;
}

::-webkit-input-placeholder {
  color: rgba(10,10,140,.75);
}

::-moz-placeholder {
  color: rgba(10,10,140,.75);
}

:-ms-input-placeholder {
  color: rgba(10,10,140,.75);
}

placeholder {
  color: rgba(10,10,140,.75);
}

input, textarea, button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

h1 {
  font-size: 28px;
  margin: 0 0 .5em 0;
  color: rgba(10,10,140,.75)
}

.dialog-c input,
.dialog-c button {
  background-color: rgba(0,0,30,.5);
  border: 2px solid rgba(10,10,140,.95);
  font-size: 1em;
  padding: .5em;
}

.dialog-c input {
  box-shadow: inset 0 2px 7px black;
  color: rgba(250,250,250,.5);
}

.dialog-c input:hover,
.dialog-c input:focus,
.dialog-c input:active {
  box-shadow: inset 0 2px 7px black;
  color: rgba(250,250,250,.95);
  border: 2px solid rgba(10,10,140,1);
  background-color: rgba(0,0,10,.5);
}

.dialog-c button {
  background-color: rgba(10,10,140,.75);
  color: rgba(250,250,250,.75);
  cursor: pointer;
}
.dialog-c button:hover {
  background-color: rgba(10,10,140,.95);
  color: rgba(250,250,250,.95);
}

.dialog-c .info {
  font-size: .875em;
  line-height: 1.2;
  color: rgba(10,10,140,.95);
  text-shadow: 0 1px 3px black;
}


.dialog-c.login-dialog-c input,
.dialog-c.login-dialog-c button,
.dialog-c.login-dialog-c .info {
  width: 260px;
  margin: .5em auto;
  display: block;
  text-align: center;
}

.dialog-c.login-dialog-c {
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -170px;
  margin-left: -180px;
  text-align: center;
}

.dialog-c.notice-dialog-c {
  width: 300px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -170px;
  font-size: .875em;
  background-color: rgba(10,10,140,.75);
  color: rgba(250,250,250,.75);
  text-align: center;
}

.message {
  font-size: .9em;
  line-height: 1.2;
}


.chat-c .viewport {
  height: 200px;
  overflow-y: scroll;
}

.chat-c .viewport {
  background-color: #fff;
}

.chat-c input {
  display: block;
  width: 100%;
}

.chat-c .message.outgoing {
  text-align: right;
}

.chat-c .message.incoming {
  text-align: left;
}

.spinner {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  z-index: 3;
  pointer-events: none;
  background: transparent url(/images/blue-spinner.gif) no-repeat 50% 50%;
}
